@tailwind base;
@tailwind components;

:root {
  font-family: "Noto Sans", sans-serif;
}

.input {
  @apply tracking-wide w-full h-12  border-slate-500 px-3 outline-none border hover:border-pink-500 focus:border-2 focus:border-pink-600;
}

.btn {
  @apply text-white tracking-wide text-lg w-full bg-black hover:bg-pink-700 h-[50px] my-3 flex items-center justify-center cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md;
}

.loginBtn {
  @apply text-white tracking-wide text-lg w-full bg-black hover:bg-pink-700 h-[50px] my-3 flex items-center justify-center cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md;
  display: inline-block;
  transition: all 0.5s;
}

.loginBtn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.loginBtn span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.loginBtn:hover span {
  padding-right: 15px;
}

.loginBtn:hover span:after {
  opacity: 1;
  right: 0;
}

.custom-loader {
  width: 70px;
  height: 70px;
  background: #ffa600;
  border-radius: 50px;
  -webkit-mask: radial-gradient(
        circle 31px at 50% calc(100% + 13px),
        #000 95%,
        #0000
      )
      top 4px left 50%,
    radial-gradient(circle 31px, #000 95%, #0000) center,
    radial-gradient(circle 31px at 50% -13px, #000 95%, #0000) bottom 4px left
      50%,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-repeat: no-repeat;
  animation: cu10 1.5s infinite;
}

@keyframes cu10 {
  0% {
    -webkit-mask-size: 0 18px, 0 18px, 0 18px, auto;
  }

  16.67% {
    -webkit-mask-size: 100% 18px, 0 18px, 0 18px, auto;
  }

  33.33% {
    -webkit-mask-size: 100% 18px, 100% 18px, 0 18px, auto;
  }

  50% {
    -webkit-mask-size: 100% 18px, 100% 18px, 100% 18px, auto;
  }

  66.67% {
    -webkit-mask-size: 0 18px, 100% 18px, 100% 18px, auto;
  }

  83.33% {
    -webkit-mask-size: 0 18px, 0 18px, 100% 18px, auto;
  }

  100% {
    -webkit-mask-size: 0 18px, 0 18px, 0 18px, auto;
  }
}
@tailwind utilities;
